<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<nav th:fragment="topMenuBar" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/home}" th:text="#{msg.navbar.home}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/address_book' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/address_book}" th:text="#{msg.navbar.contacts}"></a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#" id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               th:text="${#locale}">
                Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{''(lang=en)}" th:text="#{lang.eng}"></a>
                <a class="dropdown-item" th:href="@{''(lang=hr)}" th:text="#{lang.hr}"></a>
            </div>
        </li>
    </ul>


    <form th:action="@{/logout}" method="post">
        <input class="btn btn-outline-light btn-sm" type="submit" th:value="#{button.logout}"/>
    </form>

</nav>

</html>