<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<nav th:fragment="topMenuBar" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}" th:text="#{msg.navbar.home}"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/address_book}" th:text="#{msg.navbar.contacts}"></a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <select id="locales" class="form-control form-control-sm" aria-labelledby="bd-versions" th:placeholder="#{lang.change}">
            <option class="dropdown-item" value=""></option>
            <option class="dropdown-item" value="en" th:text="#{lang.eng}"></option>
            <option class="dropdown-item" value="hr" th:text="#{lang.hr}"></option>
        </select>
    </div>


    <form th:action="@{/logout}" method="post">
        <input class="btn btn-outline-light btn-sm" type="submit" th:value="#{button.logout}"/>
    </form>

</nav>


<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('home?lang=' + selectedOption);
            }
        });
    });
</script>

</html>