<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}">
<head th:replace="fragments/general.html :: headerfiles"></head>
<body>
    <div th:replace="fragments/general.html :: header">Header scripts</div>
    <div th:replace="fragments/topMenuBar">Top menu bar</div>

    <div class="container">
        <h2 class="ui header">Welcome!</h2>
        <p>Click <a th:href="@{/address_book}">here</a> to see contacts page.</p>
    </div>
    <div th:replace="fragments/general.html :: footer"></div>
</body>
</html>